{% extends 'base.html' %}

{% block content %}
    <h1>🎵 Welcome to TuneTrivia! 🎵</h1>
    <p>

        At TuneTrivia, we’re all about celebrating the universal joy of music. Born from a passion for melodies, harmonies, and everything in between, this site is your ultimate destination for testing your musical knowledge. <br>From rock anthems to pop sensations, indie gems to rap hits, we’ve got quizzes that’ll challenge even the most seasoned music buffs.
                <br>
       <br>
        I created TuneTrivia because music has always been a huge part of my life. Whether it's belting out classics, discovering new artists, or just vibing to a great playlist, I love exploring all kinds of genres. And what better way to share that passion than with a site where we can all bond over our favorite tunes?
                <br><br>
       
        So let the trivia games begin! Think you’ve got what it takes to name the artist behind the song? Let’s find out. Happy quizzing! 🎤✨
        
        
        </p>
{% endblock %}
